In [35]:
# Q 1 (a)
a='himanhi'
a

'himanhi'

In [2]:
#Q.1 (b)
b=[10,10.0,True,4+5j,'kawade']
b

[10, 10.0, True, (4+5j), 'kawade']

In [3]:
# Q 1(c)

c=15.96
c

15.96

In [6]:
# q 1(d)
 
d=(10,20,30,40,50)
d

(10, 20, 30, 40, 50)

In [8]:
 # Q.1 in single variavble all the values
    
variable=[10,10.0,True,4+5j,'kawade',(10,20,30,40,50)],10,15.6485,'himanshi'
variable

([10, 10.0, True, (4+5j), 'kawade', (10, 20, 30, 40, 50)],
 10,
 15.6485,
 'himanshi')

In [9]:
 # Q.2 (1)
var=' '
type(var)

str

In [11]:
 # Q.2 (2)
var1='[ DS , ML , Python]'
type(var1)

str

In [14]:
# Q2 (3)
var3 = [ 'DS','ML' , 'Python' ]
type(var3)

list

In [15]:
# Q2 (4)
var4 = 1
type(var4)

int

In [16]:
# Q3 (1)

a=10
b=2
c=a/b
c

5.0

In [17]:
# Q3 (2)
a=153
b=16
c=a%b
c

9

In [18]:
# Q3 (3)
a=160
b=20
c=a//b
c

8

In [19]:
# Q3 (4)
a=9
b=2
c=a**b
c

81

In [20]:
# Q4
list=[10,15.65789,True,False,'himanshi','pwskilss','kawade',4+5j,19,258.6455,9+85j]
for i in list:
    print(i)
    print(type(i))

10
<class 'int'>
15.65789
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
himanshi
<class 'str'>
pwskilss
<class 'str'>
kawade
<class 'str'>
(4+5j)
<class 'complex'>
19
<class 'int'>
258.6455
<class 'float'>
(9+85j)
<class 'complex'>

In [53]:
# Q5

def count_divisible(a, b):
    if b == 0:
        return "Cannot divide by zero."

    count = 0
    while a >= b:
        if a % b == 0:
            count += 1
            a = a // b  # Integer division to get the result of the division without remainder
        else:
            break

    return count

num_A = 100
num_B = 5
result = count_divisible(num_A, num_B)

if result > 0:
    print(f"{num_A} is purely divisible by {num_B} and can be divided {result} times.")
else:
    print(f"{num_A} is not purely divisible by {num_B}.")

100 is purely divisible by 5 and can be divided 2 times.

In [50]:
# Q6
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
    print(i)
    if i%3==0:
        print("the no in the list is divisible by 3")
        print(i)
    else:
         print("the no in list is not divisible by 3")

1
the no in list is not divisible by 3
2
the no in list is not divisible by 3
3
the no in the list is divisible by 3
3
4
the no in list is not divisible by 3
5
the no in list is not divisible by 3
6
the no in the list is divisible by 3
6
7
the no in list is not divisible by 3
8
the no in list is not divisible by 3
9
the no in the list is divisible by 3
9
10
the no in list is not divisible by 3
11
the no in list is not divisible by 3
12
the no in the list is divisible by 3
12
13
the no in list is not divisible by 3
14
the no in list is not divisible by 3
15
the no in the list is divisible by 3
15
16
the no in list is not divisible by 3
17
the no in list is not divisible by 3
18
the no in the list is divisible by 3
18
19
the no in list is not divisible by 3
20
the no in list is not divisible by 3
21
the no in the list is divisible by 3
21
22
the no in list is not divisible by 3
23
the no in list is not divisible by 3
24
the no in the list is divisible by 3
24
25
the no in list is not divisible by 3

In [ ]:
# Q 7 
"""

In Python, data types can be classified as either mutable or immutable based on whether their values can be changed after creation or not. Understanding the distinction between mutable and immutable data types is crucial because it affects how variables behave and how data is stored and manipulated in memory.

Mutable Data Types:
Mutable data types are those whose values can be modified after creation. This means that you can change the content or elements of a mutable object without creating a new object. Some common mutable data types in Python include:
Lists
Dictionaries
Sets


Immutable Data Types:
Immutable data types are those whose values cannot be changed after creation. When you attempt to modify an immutable object, a new object is created with the updated value, leaving the original object unchanged. Some common immutable data types in Python include:
Integers
Floats
Strings
Tuples
"""

In [54]:
#Q 7  code  for mutable data
list=[1,2,3,4,5,6]
print(list[2])
list.append(10)
list

3

[1, 2, 3, 4, 5, 6, 10]

In [57]:
# Q7 code for immutable data
h='himanshi'
h[0]
k=h.replace('h','H')
k

'HimansHi'